
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Kapakana:wght@300..400&display=swap');
.specialHeading {
  font-family: 'Chelsea Market', cursive;
}
.specialHeading2 {
  font-family: "Kapakana", cursive;
}